@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

$R1: #FF0000;
$C1: #E0E0E0;
$C6: #7A7A7A;
$GREEN-STONE: #219653;
$BACKGROUND: #141414;

body {
  background-color: $BACKGROUND;
  max-width: 1440px;
  margin: 0 auto;
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .c-logo {
    &__name {
      font-size: 48px;
      font-weight: bold;
    }
  }
}